{% extends 'triple_content.html' %}

{% block header %}
  <h1>{% block title %}Overview{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>overview content</p>
<!--<label for="start">from:</label>
  <input type="date" id="start" name="expense-start" value=""/>

  <label for="end">till:</label>
  <input type="date" id="end" name="expense-end" value=""/>

  <h3>{{ post['account'] }}</h3>
  <form>
    <select id="account">
        {% for account in accounts %}
        <option value="{{ account['id'] }}">{{account['name']}}</option>
        {% endfor %}
    </select>
  </form>
  <form>
    <input type="submit" value="Account">
  </form>-->
{% endblock%}

{% block content2 %}
<p>here should stand graph</p>
{% endblock%}

{% block content3 %}
    <h3>last transactions</h3>
    {% for expense in expenses %}
        <div>
            <p>{{ expense['name'] }}</p>
            <p>{{ expense['date'] }}</p>
            <p>{{ expense['amount'] }}</p>
            <p>{{ expense['cur'] }}</p>
            <p>{{ expense['amount'] }}</p>
            <p>{{ expense['tag'] }}</p>
        </div>
    {% endfor %}
{% endblock%}

<section>
    <div>
        <form action="{{ url_for('expense.create') }}" method="post">
            <input type="submit" value="expense">
        </form>
    </div>
    <div>
        <form action="{{ url_for('category.init') }}", method="post">
            <input type="submit" value="category">
        </form>
    </div>
    <div>
        <form action="{{ url_for('tag.init') }}", method="post">
            <input type="submit" value="tag">
        </form>
    </div>
</section>